

.side-menu {
    background-color: $azul-oscuro;
    min-height: 93dvh;
    width: 15vw;
    border-right: $borde;
    border-bottom: $borde;
    ul {
        border-top: $borde;
        position: sticky;
        padding: 15px;
        top: 0;
        width: 100%;
        list-style: none;
        @include column;
        gap: 15px;
        li {
            width: 100%;
            @include row;
            justify-content: center;
            button {
                all: unset;
                background-color: $azul;
                width: 100%;
                padding: 10px 0;
                border: $borde;
                text-align: center;
                font-weight: bold;
                transition: background-color .3s;
            }
            button:hover {
                background-color: $azul-claro;
            }
        }
    }
}