
.boton-menu {
    all: unset;
    background-color: $azul;
    width: 100%;
    padding: 10px 0;
    border: $borde;
    text-align: center;
    font-weight: bold;
    transition: background-color .3s;
}
.boton-menu:hover {
    background-color: $azul-claro;
}

.side-menu {
    background-color: $azul-oscuro;
    min-height: 93dvh;
    width: 15vw;
    border-right: $borde;
    border-left: $borde;
    border-bottom: $borde;
    .lista-funciones {
        border-top: $borde;
        position: sticky;
        padding: 15px;
        top: 0;
        width: 100%;
        list-style: none;
        @include column;
        gap: 15px;
        li {
            width: 100%;
            @include column;
        }
        .filtro-menu {
            .filtro-desplegable {
                width: 95%;
                li {
                    width: 100%;
                    @include column;
                    .opcion-filtro {
                        all: unset;
                        background-color: $azul-claro;
                        width: 100%;
                        padding: 5px 0;
                        border-right: 3px solid #000;
                        border-left: 3px solid #000;
                        border-bottom: 3px solid #000;
                        text-align: center;
                        font-weight: bold;
                        transition: background-color .3s;
                    }
                    .opcion-filtro:hover {
                        background-color: $celeste;
                    }
                }
            }
        #cursos-contenedor {
            position: relative;
            .cursos-desplegable {
                position: absolute;
                top: -3px;
                left: 101%;
            }
            .curso {
                border-top: 3px solid #000;
            }
        }
        }
    }
}